<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LLC_MOD_Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<LLC_MOD_Toolbox.Properties.Settings>
			<setting name="GamePath" serializeAs="String">
				<value />
			</setting>
		</LLC_MOD_Toolbox.Properties.Settings>
	</applicationSettings>
</configuration>