<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="true">
		<target xsi:type="File"
				name="RollingFileTracer"
				fileName="Logs/Log-${date:format=yyyyMMdd}.log"
				archiveFileName="Logs/Log-{#}.log"
				archiveNumbering="DateAndSequence"
				maxArchiveFiles="0"
		archiveAboveSize="1048576"
		layout="记录时间：${longdate} 日志级别：${uppercase:${level}} - 描述：${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="RollingFileTracer" />
	</rules>
</nlog>