<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<root>
			<level value="INFO" />
			<!--定义此记录器的日志记录级别。此记录器仅接受此级别（此处即DEBUG级别）或更高级别的事件-->
			<appender-ref ref="RollingFileTracer" />
		</root>

		<!--type表示用什么类型记录日志 RollingFileAppender代表用文本来记录日志-->
		<appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
			<!--日志文件的保存位置为：log/Log-20210523.txt-->
			<param name="File" value="Logs\\Log-"/>

			<!--日志文件名为Log-20210523.txt格式 每天日志分别对应到一个文件中-->
			<param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>

			<!--日志文件名，是否固定不变 如果想在文件名称后面加上日期参数,则应为false-->
			<param name="StaticLogFileName" value="false" />

			<!--日志文件为后续内容附加到已有文件（若是false，则为后续覆盖向前的内存）-->
			<param name="AppendToFile" value="true" />

			<!--根据文件的大小和日期滚动文件-->
			<param name="RollingStyle" value="Composite" />

			<!--备份文件的个数-->
			<param name="MaxSizeRollBackups" value="-1"/>

			<!--如果我们将最大文件大小设置为1MB并将maxSizeRollBackups设置为10 MB，那么根据日期或文件大小，它将只保留最后10MB的文件-->
			<param name="MaximumFileSize" value="1MB" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<!--日志记录的格式-->
				<!--<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />格式为：时间+[线程]+级别+项目.Controller -messsage+exception.innerMessage-->
				<param name="ConversionPattern" value="记录时间：%date 日志级别：%-5level - 描述：%message%newline" />
				<!--格式类似：记录时间：2020-01-15 20:34:37,946 线程ID:[6] 日志级别：DEBUG 出错类：_008Log4Net.Controllers.HomeController property:[(null)] - 错误描述：Hi I am log4net Debug Level-->
			</layout>
		</appender>
	</log4net>

</configuration>