<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7z.NET" version="1.0.3" targetFramework="net472" />
  <package id="Downloader" version="3.1.2" targetFramework="net472" />
  <package id="log4net" version="2.0.17" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SunnyUI" version="3.6.7" targetFramework="net472" />
  <package id="SunnyUI.Common" version="3.6.7" targetFramework="net472" />
</packages>